<p id="notice"><%#= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<ul>
  <% if @reservations != nil %>

  <% @reservations.each do |r| %>

  <li>Restaurant Name: <%= r.restaurant.name %><br/>
  Description: <%= r.restaurant.summary %><br/>
  Party size: <%= r[:party_size] %><br/>
  Meal Time: <%= r[:meal_time] %></li>
  <%#= link_to 'Cancel Reservation', users_path %> 

  <%= link_to "Cancel Reservation", restaurant_reservation_path(r.restaurant, r), :confirm => "Are you sure you wish to cancel?", :method => :delete %>

  <% end %>
</ul>

  <% else %>

  <%= link_to "View Restaurants to get started", restaurants_path %>

  <% end %>


<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
