<h1>Make a reservation</h1>

<%= form_for([@restaurant, @reservation]) do |f| %>


<%#= form_for(@reservation) do |f| %>
<!--   <div class="field">
    <%#= f.label :restaurant_id %><br />
    <%#= f.text_field :restaurant_id %> -->

  <!-- <div class="field">
    <%#= f.label "Date" %><br />
    <%#= f.date_select :meal_date %>
  </div>-->
  <div class="field">
    <%= f.label "Time" %><br />
    <%#= f.time_select :meal_time %>
    <%#= f.time_select :meal_time, {:minute_step => 60} %>
    <%#= f.datetime_select :meal_time, :ampm => false, :minute_step => 60 %>
    <%= f.datetime_select :meal_time, :ampm => false, :start_year => Time.now.year, :start_hour => @restaurant.hours_open,  :end_hour => (@restaurant.hours_close - 1), :minute_step => 60 %>
  </div>
    <div class="field">
    <%= f.label :party_size %><br />
    <%= f.select :party_size, (1..20) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit reservation" %>
  </div>
<% end %>
