

<h1><%= @restaurant.name %></h1>

<p><%=@restaurant.neighbourhood%></p>
<p><%=@restaurant.address%></p>

<p> <%=@restaurant.summary%></p>
<p>Hours: <%=@restaurant.hours_open%> - <%=@restaurant.hours_close%></p>
