

<h1><%= @restaurant.name %></h1>

<p><%=@restaurant.neighbourhood%></p>
<p><%=@restaurant.address%></p>

<p> <%=@restaurant.summary%></p>
<p>Hours: <%= format_time (@restaurant.hours_open) %> - <%= format_time (@restaurant.hours_close) %></p>

<%= render '/reservations/reservation_form' %>